html.size750 {
  font-size: 13.333333vw;
  color: #644a4c;
}

@media screen and (max-width: 300px) {
  html.size750 {
    font-size: 39px;
  }
}

@media screen and (min-width: 600px) {
  html.size750 {
    font-size: 78px;
  }
}

@media screen and (max-width: 600px) {
  .only-pc {
    display: none;
  }

  .only-wap {
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .only-pc {
    display: block;
  }

  .only-wap {
    display: none;
  }
}
